html,body{overflow: hidden}
body{
margin:0;
padding:0;
font-size:10pt;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
background:#efefef;
font-size:x-small;
}
#cs{
overflow:hidden;
}
#wrap{
margin:0;
}
#msg{
color:red;
}
p{
margin:10px 8px 10px 14px;
}
form{
background:#dedede;
border-bottom:2px solid white;
border-top:2px solid white;
margin:0;
}

.button{
background:none;
font-size:small;
border:0;
padding:0;
margin-left:4px;
color:#0030c2;
border-bottom:1px solid;
cursor:pointer;
}
ul{
margin:5px 0;
padding:0 10px;
list-style:none;
}
li{
float:left;
font-size:xx-small;
}
li a{
border:1px solid;
display:block;
height:40px;
width:40px;
margin:1px;
background:white;
text-align:center;
}
a img{
border:0;
}



	

